/* CSS Document */
body{
	background-color:#CCCCCC;
	font: Arial;
}
#wrepper{
    margin: 25px auto;
    width: 700px;
	background-color: #FFFFCC;    
}
#header{
	position:relative;
	background-image: url(i/header.jpg);
	height:80px;
}
#text{
	padding: 15px 20px;
}
#ugol{
	position:absolute;
	top: 0px;
	left:0px;
}
#knopka{
	position: relative;
	top:-15px;
	left:300px;
}
#vopros{
	position:fixed;
	top:300px;
	left:0px;
	
}